<div class="container">
  <h2>Products list</h2>
  <form class="search-form">
    <mat-form-field>
      <input type="search" matInput placeholder="Search..." [formControl]="searchField">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div class="container">
  <div class="products-filter">
    <app-filter (submit)="filterProducts($event)"></app-filter>
  </div>

  <div class="products">
    <app-card *ngFor="let product of products$ | async" [item]="product"></app-card>
  </div>
</div>

