<h2>Products list</h2>
<div class="container">
  <div class="products-filter">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Min price" [(ngModel)]="filterObj.min_price">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Max price" [(ngModel)]="filterObj.max_price">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select size" [(ngModel)]="filterObj.size">
          <mat-option value="xxl">XXL</mat-option>
          <mat-option value="xl">XL</mat-option>
          <mat-option value="m">M</mat-option>
          <mat-option value="m">S</mat-option>
          <mat-option value="m">L</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="filterProducts(filterObj)">Filter</button>
  </div>
  <div class="products">
    <app-card *ngFor="let product of products$ | async" [item]="product"></app-card>
  </div>
</div>

