:host {
  flex: 1 0 auto;
}

.container {
  display: flex;

  .search-form {
    margin-left: 220px;
  }

  .products-filter {
    max-width: 300px;
    margin: 10px 20px;
  }

  .products {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}


