<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{item?.name}}</mat-card-title>
    <mat-card-subtitle>{{item?.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{item?.imgUrl}}" alt="Image">
  <mat-card-content>
    <p>{{item?.desc}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" [routerLink]="['/products/', item?.id]">More</button>
    <span class="price">{{item?.price}}$</span>
  </mat-card-actions>
</mat-card>

