:host {
  flex: 1 0 auto;
}

.product {
  display: flex;
  justify-content: center;

  .product-image img{
    width: 500px;
  }

  .product-info {
    width: 500px;

    button {
      margin: 10px;
    }

    .add-to-cart {

      button{
        float: right;
      }

      span {
        font-weight: bold;
      }
    }
  }
}
